/* styles in src/style directory are applied to the whole page */


$zBackground: #F7F7F7;

.bodyclass {
  background: $zBackground;
    padding-top: 50px;
}

a {
  color: purple;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
